@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-dark-bg: #0d0d0d;
  --color-dark-card: #1c1c1c;
  --color-dark-text: #ffffff;

  /* Light Mode */
  --color-light-bg: #ffffff;
  --color-light-card: #f2f2f2;
  --color-light-text: #0d0d0d;

  --color-primary: #ff6b00;
}
